<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.MySoftPOS">

        <!-- Auth Activities -->
        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".ui.dashboard.MainDashboardActivity"
            android:exported="false"
            android:label="@string/dashboard_title" />

        <activity
            android:name=".ui.dashboard.TransactionDetailActivity"
            android:exported="false"
            android:label="@string/txn_detail_title" />

        <!-- Test Suite Activities -->
        <activity android:name=".testsuite.RunnerActivity" android:label="@string/label_test_runner" />
        <activity android:name=".testsuite.BatchRunnerActivity" android:label="@string/label_batch_runner" />
        <activity android:name=".testsuite.ChannelSelectActivity" android:label="@string/label_select_channel" />
        <activity android:name=".testsuite.PerformanceSelectActivity" android:label="@string/label_select_performance" />
        <activity android:name=".testsuite.TransactionSelectActivity" android:label="@string/label_select_transaction" />
        <activity android:name=".testsuite.SchemeSelectActivity" android:label="@string/label_select_scheme" />
        <activity android:name=".testsuite.SchemeHistoryActivity" android:label="@string/label_scheme_history" />
        <activity android:name=".testsuite.TestSuiteActivity" android:label="@string/test_suite" />
        <activity android:name=".testsuite.MultiThreadRunnerActivity" android:label="@string/label_multi_thread_runner" />
        <activity android:name=".testsuite.DynamicTestSuiteActivity" android:label="@string/label_test_suites" />
        <activity android:name=".testsuite.DynamicTestCaseActivity" android:label="@string/label_test_cases" />

        <!-- Admin Activities -->
        <activity
            android:name=".ui.admin.PosAccountManagementActivity"
            android:exported="false"
            android:label="@string/user_mgmt_title" />

        <activity
            android:name=".ui.admin.TransactionManagementActivity"
            android:exported="false"
            android:label="@string/dashboard_transaction_management" />

        <!-- Purchase Activities -->
        <activity
            android:name=".ui.purchase.PurchaseAmountActivity"
            android:exported="false"
            android:label="@string/dashboard_purchase" />

        <activity
            android:name=".ui.purchase.PurchaseCardActivity"
            android:exported="false"
            android:label="@string/payment_title" />


        <!-- Balance Inquiry Activity -->
        <activity
            android:name=".ui.balance.BalanceInquiryActivity"
            android:exported="false"
            android:label="@string/balance_inquiry_title" />

        <!-- Result Activity -->
        <activity
            android:name=".ui.result.TransactionResultActivity"
            android:exported="false"
            android:label="@string/label_transaction_result" />

    </application>

</manifest>