<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MySoftPOS">

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" />
        
        <activity android:name=".ui.main.MainDashboardActivity" android:label="@string/dashboard_title" />
        <activity android:name=".ui.main.SettingsActivity" android:label="@string/settings_title" />
        
        <activity android:name=".ui.txn.PurchaseAmountActivity" android:label="Purchase" />
        <activity android:name=".ui.txn.PurchaseCardActivity" android:label="Card" />
        <activity android:name=".ui.txn.TransactionResultActivity" android:label="Kết quả" />
        <activity android:name=".ui.txn.PaymentSuccessActivity" android:label="Success" />

        <!-- CONFIGURATION ACTIVITIES -->
        <activity android:name=".config.ConfigDashboardActivity" />
        <activity android:name=".config.TransactionTypeListActivity" />
        <activity android:name=".config.TransactionTypeEditorActivity" android:windowSoftInputMode="adjustResize"/>

        <!-- TEST SUITE ACTIVITIES -->
        <activity
            android:name=".testsuite.SchemeSelectActivity"
            android:exported="true"
            android:label="ISO 8583 Test Suite">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".testsuite.TestSuiteActivity" android:label="Test Suite" />
        <activity android:name=".testsuite.TestSuiteDetailActivity" />
        <activity android:name=".testsuite.TestCaseEditorActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".testsuite.RunnerActivity" android:label="Test Runner" />
        <activity android:name=".testsuite.ChannelSelectActivity" android:label="Channel Selection" />
        <activity android:name=".testsuite.TransactionSelectActivity" android:label="Transaction Type" />
    </application>

</manifest>
